@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
/* RESET */

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

header .container {
    display: flex;
    margin: 20px 10px;
}

header .left,
header .right {
    display: flex;
    width: 50%;
    height: 60px;
    margin: 0 20px;
}

header li a:hover {
    color: #C21F14;
}

header .right li a:hover {
    text-decoration: underline;
}

header .left img {
    height: 100%;
    margin-right: 20px;

}

header .left .navbar {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

header .left ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

header .left a {
    font-size: 16px;
    font-weight: 500;
    color: black;
}

header .right .navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
}

header .right ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

header .right a {
    font-size: 12px;
    font-weight: 400;
    color: black;
}

header .right .france-flag {
    margin-right: 5px;
    height: 12px;
}

header .right i {
    margin-right: 5px;
    font-size: 16px;
}

header .right ul {
    display: flex;
}

header .search-cont {
    display: flex;
    justify-content: flex-end;
    margin: 10px -30px 0 0;
}

header .search {
    width: fit-content;
    font-size: 1em;
    height: 34px;
    line-height: 15px;
}

header .search input {
    position: relative;
    padding: 0 40px;
}


header .search form {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

header .search button {
    border: none;
    background-color: white;
    left: -50;
}

/* SLIDE BAR */

.slide-bar {
    background-color: black;
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-bar p {
    color: white;
    font-size: 14px;
    font-weight: 500;
}


/* BANNER */

.banner {
    line-height: 0;
}

.banner a.click-banner {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.banner .container {
    position: relative;
}

.banner img {
    width: 100%;
}

.banner .information {
    padding: 20px 20px 20px 130px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1;
}

.banner .information h2 {
    font-size: 65px;
    font-weight: 500;
    color: white;
}

.banner .information p {
    color: white;
    font-size: 15px;
    font-weight: 400;
    margin: 20px 0;
}

.banner .information .btn-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
}

.banner .information h2 {
    line-height: 1;
    margin-bottom: 20px;
}

.banner .information p {
    position: absolute;
    bottom: 4%;
    right: 4%;
}

.banner .information .btn-cont a.women,
.banner .information .btn-cont a.men {
    background-color: white;
    color: black;
    width: 100%;
    font-size: 14px;
    padding: 12px 36px;
    margin-bottom: 3px;
    border-radius: 2px;
    z-index: 999;
    transition: all 0.3s;
}

.banner .information .btn-cont a.women:hover,
.banner .information .btn-cont a.men:hover {
    background-color: black;
    color: white;
}


.banner .information .btn-cont a.all {
    padding: 12px 36px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-decoration: underline;
}


/* SELECTION */

.selection {
    padding: 40px 0 26px 0;
}

.selection .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selection h2 {
    padding-bottom: 40px;
    font-size: 28px;
    font-weight: 700;
}

.selection .products {
    width: 1380px;
    display: flex;
    justify-content: space-between;
}

.selection .product {
    width: 330px;
}

.selection .product-img {
    width: 100%;
    height: 330px;
    margin-bottom: 26px;
}

.selection .product img {
    width: 100%;
}

.selection .product .info {
    text-align: center;
}

.selection .info .product-name {
    color: black;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 6px;
}

.selection .info .product-price {
    color: black;
    font-size: 14px;
    font-weight: 300;
}



/* XLR PASS */

.pass {
    margin: 14px 0 26px 0;
}


.pass .container {
    display: flex;
    align-items: center;
    height: 420px;
    overflow: hidden;
}

.pass .left {
    width: 42%;
    padding: 0 60px 0 110px;
}

.pass .left img {
    width: 200px;
    filter: invert(1);
}

.pass .left h3 {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.2;
    margin: 20px 0;
}

.pass .cont-btn {
    display: flex;
    margin-bottom: 20px;
}

.pass .cont-btn .btn-one {
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    color: white;
    background-color: black;
    padding: 4px 26px;
    margin-right: 10px;
    border-radius: 2px;
    transition: all 0.3s;
}

.pass .cont-btn .btn-two {
    font-size: 16px;
    font-weight: 500;
    line-height: 34px;
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 4px 26px;
    border-radius: 2px;
    transition: all 0.3s;
}

.pass .cont-btn .btn-one:hover {
    background-color: #404040;
}

.pass .cont-btn .btn-two:hover {
    background-color: black;
    color: white;
}

.pass .sign-up {
    color: black;
    font-size: 16px;
    font-weight: 300;
}

.pass .sign-up span {
    text-decoration: underline;
}


.pass .right {
    width: 58%;
}

.pass .right a {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.pass .right img {
    transform: scale(0.5);
}



/* SHOES */

.shoes {
    position: relative;
    display: flex;
    align-items: center;
}

.shoes a.click-shoes {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.shoes img {
    width: 100%;
}

.shoes .information {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 20px 20px 130px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shoes h2 {
    font-size: 65px;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;

    line-height: 1;
}

.shoes .btn-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
}

.shoes .btn-cont a {
    z-index: 999;
    color: black;
    background-color: white;
    font-size: 14px;
    padding: 10px 36px;
    border-radius: 2px;
    width: 100%;
    transition: all 0.3s;
}

.shoes .btn-cont a:hover {
    color: white;
    background-color: black;
}

.shoes .btn-cont .women {
    margin-bottom: 3px;
}



/* COLLECTION */

.collection .container {
    display: flex;
    margin-top: 10px;
    padding: 20px 0 30px 0;
}

.collection .container .card {
    position: relative;
}

.collection .card a.click-collection {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.collection .card img {
    width: 100%;
}

.collection .card .information {
    position: absolute;
    top: 0;
    left: 0;
    padding: 72px 124px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.collection .card h2 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 12px;
    line-height: 1;
}

.collection .card .h2-one {
    color: white;
}

.collection .card .h2-two {
    color: black;
}

.collection .card .btn-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
}

.collection .btn-cont a {
    z-index: 999;
    font-size: 14px;
    padding: 10px 36px;
    border-radius: 2px;
    width: 100%;
    transition: all 0.3s;
}

.collection .btn-one a {
    color: black;
    background-color: white;
}

.collection .btn-two a {
    color: white;
    background-color: black;
}

.collection .btn-one a:hover {
    color: white;
    background-color: black;
}

.collection .btn-two a:hover {
    background-color: #404040;
}

.collection .btn-cont .women {
    margin-bottom: 3px;
}


/* TENDANCES */

.tendances h2 {
    padding: 66px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.tendances .container {
    padding: 0 20px;
}

.tendances .container .collections {
    display: flex;
    justify-content: space-around;
}

.tendances .collections .collection {
    width: 444px;
    text-align: center;
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 30px;
}

.tendances .collections .click {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tendances .collections .collection img {
    width: 100%;
}

.tendances .collections .collection .btn {
    color: black;
    border: 1px solid black;
    font-size: 13px;
    padding: 10px 28px;
    border-radius: 2px;
    transition: all 0.3s;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
}

.tendances .collections .collection .btn:hover {
    background-color: black;
    color: white;
}



/* FOOTER */

footer {
    border-top: 1px solid #cbcbcb;
}

footer .container {
    width: 1130px;
    margin: 0 auto;
    padding-top: 60px;
}

footer .container .top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

footer .container h4 {
    font-size: 15px;
    margin-bottom: 16px;
}

footer .top li {
    padding: 3px 0;
}

footer .top a {
    color: black;
    font-size: 12px;
}

footer .top a:hover {
    color: #C21F14;
}

footer .bottom {
    display: flex;
    justify-content: space-between;
}

footer .bottom .div {
    width: 100%;
    text-align: center;
    padding: 0 32px;
}

footer .bottom p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 18px;
}

footer .magasin .btn {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 12px 30px;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    transition: all 0.3s;
}

footer .magasin .btn:hover {
    background-color: #404040;
}

footer .link i {
    font-size: 32px;
    padding: 0 6px;
    color: #949494;
    transition: all 0.3s;
}

footer .link i:hover {
    color: #C21F14;
}



.workkk {
    background-color: red;
    height: 200vh;
    width: 100%;
}